<a href="https://colab.research.google.com/github/anewmur/ML_for_OilGas/blob/master/HW_TREES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://colab.research.google.com/drive/15xeAk2yyLkeUIsYVmrWDgAHGgSwiz1fp

Let's start by loading all necessary libraries:

In [0]:
from matplotlib import pyplot as plt
plt.rcParams['figure.figsize'] = (10, 8)
import seaborn as sns
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import collections
from sklearn.model_selection import GridSearchCV
from sklearn import preprocessing
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from ipywidgets import Image
from io import StringIO
import pydotplus

## Toy dataset "Will They? Won't They? 

Your goal is to figure out how decision trees work by walking through a toy problem. While a single decision tree does not yield outstanding results, other performant algorithms like gradient boosting and random forests are based on the same idea. That is why knowing how decision trees work might be useful.

We'll go through a toy example of binary classification - Person A is deciding whether they will go on a second date with Person B. It will depend on their looks, eloquence, alcohol consumption (only for example), and how much money was spent on the first date.

**Creating the dataset**

In [0]:
# Create dataframe with dummy variables
def create_df(dic, feature_list):
    out = pd.DataFrame(dic)
    out = pd.concat([out, pd.get_dummies(out[feature_list])], axis = 1)
    out.drop(feature_list, axis = 1, inplace = True)
    return out

# Some feature values are present in train and absent in test and vice-versa.
def intersect_features(train, test):
    common_feat = list( set(train.keys()) & set(test.keys()))
    return train[common_feat], test[common_feat]

In [0]:
features = ['Looks', 'Alcoholic_beverage','Eloquence','Money_spent']

**Training data**

In [0]:
df_train = {}
df_train['Looks'] = ['handsome', 'handsome', 'handsome', 'repulsive',
                         'repulsive', 'repulsive', 'handsome'] 
df_train['Alcoholic_beverage'] = ['yes', 'yes', 'no', 'no', 'yes', 'yes', 'yes']
df_train['Eloquence'] = ['high', 'low', 'average', 'average', 'low',
                                   'high', 'average']
df_train['Money_spent'] = ['lots', 'little', 'lots', 'little', 'lots',
                                  'lots', 'lots']
df_train['Will_go'] = LabelEncoder().fit_transform(['+', '-', '+', '-', '-', '+', '+'])

df_train = create_df(df_train, features)
df_train

   Will_go  Looks_handsome  ...  Money_spent_little  Money_spent_lots
0        0               1  ...                   0                 1
1        1               1  ...                   1                 0
2        0               1  ...                   0                 1
3        1               0  ...                   1                 0
4        1               0  ...                   0                 1
5        0               0  ...                   0                 1
6        0               1  ...                   0                 1

[7 rows x 10 columns]

**Test data**

In [0]:
df_test = {}
df_test['Looks'] = ['handsome', 'handsome', 'repulsive'] 
df_test['Alcoholic_beverage'] = ['no', 'yes', 'yes']
df_test['Eloquence'] = ['average', 'high', 'average']
df_test['Money_spent'] = ['lots', 'little', 'lots']
df_test = create_df(df_test, features)
df_test

   Looks_handsome  Looks_repulsive  ...  Money_spent_little  Money_spent_lots
0               1                0  ...                   0                 1
1               1                0  ...                   1                 0
2               0                1  ...                   0                 1

[3 rows x 8 columns]

In [0]:
# Some feature values are present in train and absent in test and vice-versa.
y = df_train['Will_go']
df_train, df_test = intersect_features(train=df_train, test=df_test)
df_train

   Money_spent_lots  ...  Eloquence_average
0                 1  ...                  0
1                 0  ...                  0
2                 1  ...                  1
3                 0  ...                  1
4                 1  ...                  0
5                 1  ...                  0
6                 1  ...                  1

[7 rows x 8 columns]

In [0]:
df_test

   Money_spent_lots  ...  Eloquence_average
0                 1  ...                  1
1                 0  ...                  0
2                 1  ...                  1

[3 rows x 8 columns]

**Draw a decision tree (by hand or in any graphics editor) for this dataset. Optionally you can also implement tree construction and draw it here.**

1. What is the entropy S0 of the initial system? By system states, we mean values of the binary feature "Will_go" - 0 or 1 - two states in total.

In [0]:
# you code here

2. Let's split the data by the feature "Looks_handsome". What is the entropy S1 of the left group - the one with "Looks_handsome". What is the entropy S2 in the opposite group? What is the information gain (IG) if we consider such a split?

In [0]:
# you code here

**Train a decision tree using sklearn on the training data. You may choose any depth for the tree.**

In [0]:
# you code here

**Additional: display the resulting tree using graphviz. You can use pydot or web-service dot2png.**

In [0]:
# you code here